<p style="color: green"><%= notice %></p>

<div class='page-header'>
  <%= link_to "New product", new_product_path , class:'btn btn-success float-end'%>
  <h3>All products</h3>
</div>

<div id="products">
  <div class='row'>
  <% @products.each do |product| %>

    <div class='col-12 col-sm-6 col-md-4 col-lg-3'>
      <h2><%= product.name%></h2>
      <img class='img-responsive' src=<%=asset_path product.featImage%>/>
      <p><%= product.description%></p>
      <h4>Ksh<%= product.price%></h4>
      <%= link_to 'Show', product, class:'btn btn-primary'%>
    </div>

  <%# <%= render product %>
    <%# <p>
      <%= link_to "Show this product", product %>
    <%# </p> %>
  <% end %>
  </div>
</div>


